# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
#*.mex* # Some .mexw64 files must stay; they can't be recompiled. TJH 11 May 2022

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc # Treat with a bit of caution. TJH 11 May 2022

# Octave session info
octave-workspace
